# Dependency directories
node_modules/

# Build output
/dist/
/.sass-cache/
.yarn/
.yarnrc
.npm
.npmrc
.lock-wscript
.lock-staging
.lock-requirements
.pnp/
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
